// color pallette
$black: #000000;
$white: #ffffff;
// primary shades are darker than secondary shades
$blue-primary: #004b87;
$blue-secondary: #1d77bf;
$red-primary: #ac071f;
$azure-primary: #dff1ff;
$azure-secondary: #e8f2fa;
// there are too many yellows...
$yellow-beige: #f5eacf;
$yellow-canary: #fdd400;
$yellow-gold: #ffcd00;
$yellow-flax: #ffd117;
$yellow-cream: #ffe063;
$yellow-pale: #fff9e0;

// dimensions
$topbar-height: 100px;
$nav-sidebar-control-width: 8px;
$nav-sidebar-display-width-wide: 180px;
$nav-sidebar-display-width-narrow: 54px;