@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');

:root {
  --white: #fcfafc;
  --blue-primary: #004b87;
  --blue-secondary: #1d77bf;
  --red-primary: #ac071f;
  --red-secondary: #bc384b;
  --azure-primary: #dff1ff;
  --azure-secondary: #e8f2fa;

  --yellow-beige: #f5eacf;
  --yellow-canary: #fdd400;
  --yellow-gold: #ffcd00;
  --yellow-flax: #ffd117;
  --yellow-cream: #ffe063;
  --yellow-pale: #fff9e0;

  --topbar-height: 78px;
  --logo-width: 250px;
  --nav-sidebar-control-width: 10px;
  --nav-sidebar-display-width-wide: 235px;
  --nav-sidebar-display-width-narrow: 58px;

  font-size: 14px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--blue-primary);
  background: var(--white);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
